{:source {:type :datomic-cloud                 ;The data source. 
          :config {:server-type :ion           ;Passed directly to Datomic Client API
                   :region "us-east-1" ;; e.g. us-east-1
                   :system "PublicCANDEL5"
                   ;; :creds-profile "<your_aws_profile_if_not_using_the_default>"
                   :endpoint "https://nazpex6ueb.execute-api.us-east-1.amazonaws.com"}
          }

 :schema "candel-schema-1-3-1.edn"      ;filename of an Alzabo schema

 :library {}                            ;TODO need an AWS library solution

 :query-generator :candel-generate      ;The query generator

 :rh-cards [:candel/db                  ;Sequence of cards to show in right-hand side panel
            :query
            ;; I guess no point to this until Wick server is brought up
            ;; :candel/wick
            ;; Library also temporarily out of service 
            ;; :share
            ;; :compact                    ;debug only
            :browser  
            ]
 :port 1996                             ;Port on which to serve application
 :dev? true                             ;debug only 
 }
