/* emulating .container from boostrap, which we can't use directly because css sucks like a black hole  */
#content {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1150px;
}
